html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff; /* Text color */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
  background-color: #3498db; /* Background color on hover */
  font-weight: 600;
}

/* Hover styles */
.custom-button:hover {
  background-color: #3498db; /* Background color on hover */
  color: #fff; /* Text color on hover */
}

.interactive-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #3498db; /* Default border color */
  border-radius: 5px;
  transition: border-color 0.3s; /* Smooth transition effect for border color */
}

/* Hover state */
.interactive-input:hover {
  border-color: #2980b9; /* Border color on hover */
}

/* Focus state */
.interactive-input:focus {
  outline: none; /* Remove default focus outline */
  border-color: #2980b9; /* Border color on focus */
  box-shadow: 0 0 5px rgba(46, 204, 113, 0.5); /* Box shadow on focus */
}

.connect_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}
